node_modules/
script/csv/
bin/
log/
documents/
uploads/
certs/
backup/
data_csv/
docker/
config.json
companyassets.json
backup/*
data_csv/*
*.pem
*.pdf
*.csv
*.zip
*.sql
.env
CrmCom_Frontend/config/companyassets.json
CrmCom_Frontend/.env
CrmCom_Server/.env
